# Steam Machine Killer OS configuration

IMAGE_NAME=steam-machine-killer-os

REPO_ORGANIZATION="Mokhan94"

IMAGE_DESC="Steam Machine Killer OS"

IMAGE_KEYWORDS="bazzite,steam,gaming,bootc"

IMAGE_LOGO_URL="https://avatars.githubusercontent.com/Mokhan94"

DEFAULT_TAG="latest"

BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
